* {
  margin: 0;
  padding: 0;
}
:root {
  --navback: #001f3f;
  --fontBasicColor: #ffffff;
  --mainBg: #333333;
}
.section-title {
  min-height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--mainBg);
  color: var(--fontBasicColor);
}
