* {
  margin: 0;
  /* overflow-x: hidden; */
  padding: 0;
}
*::-webkit-scrollbar {
  display: none; /* Hide vertical scrollbar for Webkit browsers */
}
:root {
  --navback: #001f3f;
  --fontBasicColor: #ffffff;
  --mainBg: #00001d;
}
.section-title {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--mainBg);
  color: var(--fontBasicColor);
  padding-top: 20px;
  flex-direction: column;
}
.section-title h1 {
  color: #ffffff00;
  font-size: 3rem;
  font-weight: 700;
  -webkit-text-stroke-width: 2px;
  stroke-width: 2px;
  -webkit-text-stroke-color: #ff000e;
  stroke: #ff000e;
  text-align: center;
  text-transform: uppercase;
}
@media screen and (max-width: 590px) {
  .section-title h1 {
    font-size: 2rem;
  }
}
