.social-main {
  min-height: 40vh;
  background-color: var(--mainBg);
  padding-bottom: 20px;
}
.social-main .section-title h1 {
  color: #ffffff;
  font-size: 3rem;
  font-weight: 700;
  -webkit-text-stroke-color: #ffffff;
  text-align: center;
  text-transform: uppercase;
}
.social-icons {
  display: flex;
  column-gap: 10px;
}
.social-icons div {
  width: 50px;
  border: 1px solid red;
  height: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.social-icons div:hover {
  transition: background 0.6s ease-in-out;
  background-color: red;
}
.social-main p {
  text-align: center;
}
