footer {
  background-color: #00001d;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 20px;
  padding-bottom: 50px;
}
footer h2 {
  color: white;
}
footer div {
  display: flex;
  column-gap: 10px;
}
footer div a {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
  border: 1px solid red;
  border-radius: 50%;
}
footer div a:hover {
  transition: background 0.6s;
  background-color: red;
}
