.form-main {
  min-height: 100vh;
  background-color: #5d8a8a;
  display: flex;
  justify-content: center;
  align-items: center;
}
.signup-main,
.sigin-main,
.check-main {
  width: 25vw;
  min-height: 30vh;
  border-radius: 8px;
  background-color: #32425b;
  padding-top: 30px;
  padding-bottom: 30px;
}
.signup-main h1,
.sigin-main h1,
.check-main h1,
.signup-main a,
.sigin-main a,
.check-main a {
  text-align: center;
  color: white;
}
.sigin-main a:hover,
.signup-main a:hover,
.check-main a:hover {
  color: white;
}
.signup-main h2,
.sigin-main h2,
.check-main h2,
.signup-main h5,
.sigin-main h5,
.check-main h5 {
  text-align: center;
  font-size: 19px;
  color: #1fc5ad;
}
.signup-main form,
.sigin-main form,
.check-main form {
  width: 100%;
  height: 70%;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  justify-content: center;
  align-items: center;
}
.signup-main form div,
.sigin-main form div,
.check-main form div {
  width: 100%;
  margin-left: 49px;
  position: relative;
}
.signup-main form div span, .sigin-main form div span {
  top: 30px;
  right: 68px;
  position: absolute;
  cursor: pointer;
}
.signup-main form label,
.sigin-main form label,
.check-main form label {
  color: #1fc5ad;
}
.signup-main form input,
.sigin-main form input,
.check-main form input {
  height: 40px;
  width: 89%;
  background: transparent;
  outline: none;
  border: 1px solid white;
  color: white;
  padding: 10px;
}
.signup-main form button,
.sigin-main form button,
.check-main form button {
  height: 40px;
  width: 90%;
  background-color: #1fc5ad;
  border: none;
  color: white;
}
@media screen and (max-width: 535px) {
  .signup-main,
  .sigin-main,
  .check-main {
    width: 95vw;
  }
  .signup-main form input,
  .sigin-main form input,
  .check-main form input {
    width: 89%;
  }
  .form-main {
    min-width: 100vw;
  }
}
@media screen and (min-width: 534px) and (max-width: 991px) {
  .signup-main,
  .sigin-main,
  .check-main {
    width: 55vw;
  }
  .signup-main form input,
  .sigin-main form input,
  .check-main form input {
    width: 89%;
  }
}
@media screen and (min-width: 992px) and (max-width: 1919px) {
  .signup-main,
  .sigin-main,
  .check-main {
    width: 45vw;
  }
  .signup-main form input,
  .sigin-main form input,
  .check-main form input {
    width: 89%;
  }
}
