.trending-main {
  min-height: 45vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--mainBg);
  /* flex-wrap: wrap; */
}
/* .swiper {
  width: 100%;
  height: 100%;
} */

.swiper-slide {
  /* font-size: 18px; */
  background: transparent;
  border: 1px solid white;

  color: rgb(255, 255, 255);
  height: 350px !important;
  border-radius: 8px;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  flex-direction: column;
  cursor: pointer;
}
.swiper-slide:hover {
  transition: background 0.4s ease-in-out;
  /* background-color: #E5E5E5; */
  background-color: #181d35;
  color: rgb(255, 255, 255);
}
.swiper-slide h1 {
  font-size: 20px !important;
  text-align: center;
}
.swiper-slide img {
  width: 50% !important;
  height: 50% !important;
}
.swiper-slide button {
  background-color: red;
  border: none;
  border-radius: 5px;
  width: 100px;
  height: 35px;
  color: aliceblue;
}
.swiper-slide button:hover {
  background-color: rgb(245, 45, 45);
}
.swiper-pagination-bullet {
  display: none !important;
}
