.home-main {
  height: 99vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--mainBg);
  background-image: url(../../images/home2.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  color: aliceblue;
  font-size: 2.5rem;
  padding-bottom: 40px;
}

@media screen and (max-width: 767px) {
  .home-main {
    flex-direction: column;
    padding-bottom: 60px;
  }
  .home-content,
  .home-image {
    width: 100%;
  }
}
